<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="attendance : ${attendancePage.content}">
                <td th:text="${attendance.attendanceDate}"></td>
                <td th:text="${attendance.startTime}"></td>
                <td th:text="${attendance.endTime}"></td>
                <td th:text="${attendance.status}"></td>
            </tr>
        </tbody>
    </table>

    <!-- 페이지네이션 -->
    <div>
        <span th:if="${attendancePage.hasPrevious()}">
            <a th:href="@{/attendance/attendanceList(page=${attendancePage.number - 1})}">Previous</a>
        </span>
        <span th:text="${attendancePage.number + 1} + ' / ' + ${attendancePage.totalPages}"></span>
        <span th:if="${attendancePage.hasNext()}">
            <a th:href="@{/attendance/attendanceList(page=${attendancePage.number + 1})}">Next</a>
        </span>
    </div>
</body>
</html>